@{
    Layout = "_MenuLayout";
}

@model List<Pizza>

<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (Pizza pizza in Model)
    {
        <li>
            <div>
                <h2>@pizza.Name</h2>
                <div>@pizza.Description</div>
                <img src="@Url.Content(pizza.ImageUrl)" alt="@pizza.Name" />
                <div>@pizza.GetPrice()</div>
            </div>
        </li>
    }
</ul>