@model List<Pizza>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Ingredienti
            </th>
            <th>
                Prezzo
            </th>
            <th>
                Immagine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Pizza pizza in Model) {
        <tr>
            <td>
                <div>
                    <a class="" asp-action="Details" asp-route-id="@pizza.Id">
                        @pizza.Name
                    </a>                        
                </div>
            </td>
            <td>
                @pizza.Description
            </td>
            <td>
                @pizza.GetPrice()
            </td>
            <td>
                <img src="@Url.Content(pizza.ImageUrl)" height=100 alt="@pizza.Name" />
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@pizza.Id">Modifica</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@pizza.Id">Cancella</a>
            </td>
        </tr>
}
    </tbody>
</table>
